
#cards{
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    width: 100%;
}

#bookingInfo{
    display: flex;
    flex-direction: column;
}
#contactInfo{
    display: flex;
    flex-direction: column;
}
#head{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#div1{
    color: white;
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: Slideshow 15s infinite;
}
@keyframes Slideshow {
    0%   { background-image: url('https://media.istockphoto.com/id/119926339/photo/resort-swimming-pool.jpg?s=612x612&w=0&k=20&c=9QtwJC2boq3GFHaeDsKytF4-CavYKQuy1jBD2IRfYKc='); }
    50%  { background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB40ZwwvA_ZR4Y8IA8G3I07vfh9bpWTAfi2g&s'); }
    100%  { background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVCJbcikUJ4B6npvzMiVG3wt0ReFMETbAzeg&s'); }
}
#text{
    font-size: 60px;
}
#deals{
    width: 300px;
    height: 50px;
}
#title1{
    color: chocolate;
}
.body1{
    color: grey;
}
#hotelFoto{
    width: 400px;
}
.box{
    display: flex;
    flex-direction: column;
    border: chocolate 2px solid;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 350px;
    height: 140px;

}
.box:hover{
    box-shadow: 0 0 20px chocolate;
    transform: scale(1.03);
}
.innerBox{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.textOfBox{
    color: grey;
}
#boxes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}
#title2{
    color: chocolate;
}
#title3{
    color: chocolate;
}
#location{
    display: flex;
    flex-direction: row;
    align-content: space-around;
}
#carouselExample{
    background-size: cover;
}
#loginInfo{
    display: flex;
    flex-direction: column;
}
#singUpInfo{
    display: flex;
    flex-direction: column;
}
#lower{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lowBox{
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}